<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">TechDardos</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Games", games_path %>
          </li>
          <li>
            <a href="http://news.bootswatch.com">Tournaments</a>
          </li>
          <li>
            <a href="http://news.bootswatch.com">Rankings</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="container">
    <%= render 'flashes' -%>
    <%= yield %>
  </div>
  <%= render 'javascript' %>
</body>
</html>
